@tailwind base;
@tailwind components;
@tailwind utilities;

.tarjeta{
  width: 600px;
  height: 337.5px;
}
.text-shadow{
  text-shadow: 3px 3px rgb(43, 43, 43);
}
.text-blue-customized{
  color: rgb(32, 104, 187);
}
.text-tall{
  transform: scale(1, 1.3);
}